body{
    background-color: #d2e;
}

.btn{
    margin-top: 30px;
    margin-left: 30px;
    background-color: #1e272e;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    padding: 10px 15px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.btn::before{
    content:'';
    position: absolute;
    background-color: #e1b12c;
    width: 0;
    height: 0;
    left: var(--x);
    top: var(--y);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: 0.5s;
}

.btn:hover::before{
    width: 200px;
    height:200px;
}

.btn span{
    position: relative;
    z-index: 100;
    color: #fff;
}