.battery-head{
    width: 30px;
    height: 13px;
    background: black;
    margin: 0 auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 3px solid #1e272e;
}

.battery-body{
    width: 150px;
    height: 250px;
    background: transparent;
    position: relative;
    margin: 0 auto;
    border: 3px solid #1e272e;
    border-radius: 10px; 
}

.charge{
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 14px;
    animation: battery 6s linear infinite;
}

@keyframes battery{
    0%{
        height: 0%;
        background: rgb(252, 54, 54);
    }
    25%{
        height: 25%;
        background: #fdae37;
    }
    50%{
        height: 50%;
        background:rgb(243, 247, 7);
    }
    75%{
        height: 75%;
        background:rgb(115, 255, 0)
    }
    100%{
        height: 100%;
        background: rgb(0, 211, 28) 
    }
}